<p id="notice"><%= notice %></p>

<h1>Toutes les pharmacies</h1>

<table class="table table-striped">
  
    <% @pharms.each do |pharm| %>
      <tr>
        <td><%= pharm.commune.capitalize %></td>
        <td><%= pharm.pharma_name %></td>
        <td>
             
            <%= link_to 'Edit', edit_pharm_path(pharm), class:'btn btn-outline-primary' %>
          
        </td>
 
      </tr>

      
      
    <% end %>
 
</table>
 

